@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$font-family: 'Ubuntu', sans-serif;
$grey-1: #e0e0e0;
$blue-1: #6c90ac;
$blue-2: #dae0e3;
$blue-3: #e8f6fe;
$blue-4: #758d9a;
$yellow-1: #ffd54f;
$yellow-2: #ffd64f;
$red-1: tomato;